body {
  font-family: 'Arimo',
    sans-serif;
}

.dark {
  background: #0a091a;
  min-height: 100vh;
}

.light {
  background: #d1d0e0;
  min-height: 100vh;
}

.mask {
  background-color: rgba(190, 216, 232, .5);
}

.bg-image {
  border-radius: 35px;
  overflow: hidden;
  filter: brightness(0.5);

}

.brd {
  border-radius: 40px;
}

.card {
  border: none;
}

input {
  position: absolute;
  z-index: 10;
  width: 70%;
  left: 15%;
  top: 3%;
  border-radius: 20px;
  padding: 8px;
  border: 1px solid #d6e9f0;
  background: #d6e9f0;
  color: #111;
  outline: none;
}

.box {
  margin: 20px 0;
}

.temp {
  font-size: 80px;
  color: #fff;
  text-shadow: 2px 2px 2px #372f2f;
}

.icon {
  float: right;
  width: 70%;
}

.weathr-main {
  color: #fff;
  font-size: 42px;
  margin-top: -20px;
}

.country {
  color: #ddd;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
  margin-top: 30px;

}

.info {
  font-size: 16px;
  display: flex;
  color: #f0f0f0;
  align-items: center;
}

.description {
  margin-bottom: 20px;
  margin-top: 3px;
  font-weight: bold;
  color: #ddd;
}

.bg-images {
  background-image: url('./img/weather.jpg');
  background-size: 100% 100%;
  border-radius: 30px;
  filter: brightness(0.8);
  min-height: 80vh;
  position: relative;

}

.alert_N {
  font-size: 40px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}



.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.copyright {
  color: #646f72;
  font-size: 15px;
  text-align: center;
  padding: 15px 0;
}

.alert_ {
  color: #fff;
  font-size: 20px;
  /* padding: 15px; */
  text-align: center;
}

.send {
  position: absolute;
  z-index: 10;
  right: 15%;
  top: 3%;
  padding: 8px 25px;
  border-radius: 20px;
  background: #f2a353;
  transition: all 0.3s ease-in-out;
  box-shadow: inset 0 0 0 0 #0a434d;
  cursor: pointer;
}

.send:hover {
  box-shadow: inset 100px 0 0 0 #0a434d;
}



.icon-toogle {
  position: absolute;
  z-index: 5;
  right: 5%;
  top: 4%;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none !important;
}



@media(max-width:900px) {
  .temp {
    font-size: 40px;
  }

  .country {
    margin-bottom: 8px;
  }



  .weathr-main {
    font-size: 26px;
    margin-top: -10px;
  }

  .info {
    font-size: 14px;
  }


}